/* line 3, ../sass/style.scss */
#LWCP-ifr {
  position: fixed;
  width: 100% !important;
  height: 34px !important;
  margin: 0 !important;
  padding: 0 !important;
  left: 0;
  right: 0;
  border: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.52);
  border-radius: 0 !important;
  z-index: 999999999999;
}
/* line 15, ../sass/style.scss */
#LWCP-ifr.disabled {
  display: none !important;
}
/* line 18, ../sass/style.scss */
#LWCP-ifr.top {
  top: 0;
}
/* line 21, ../sass/style.scss */
#LWCP-ifr.w-top {
  top: 31px;
}
/* line 24, ../sass/style.scss */
#LWCP-ifr.bottom {
  bottom: 0;
}
/* line 27, ../sass/style.scss */
#LWCP-ifr.w-bottom {
  bottom: 31px;
}
