/* line 5, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_contentStyle.scss */
#LWCP-ifr {
  position: fixed;
  width: 100%;
  height: 34px;
  left: 0;
  right: 0;
  border: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.52);
  z-index: 99999;
}
/* line 10, ../sass/_contentStyle.scss */
#LWCP-ifr.disabled {
  display: none !important;
}
/* line 13, ../sass/_contentStyle.scss */
#LWCP-ifr.top {
  top: 0;
}
/* line 16, ../sass/_contentStyle.scss */
#LWCP-ifr.w-top {
  top: 31px;
}
/* line 19, ../sass/_contentStyle.scss */
#LWCP-ifr.bottom {
  bottom: 0;
}
/* line 22, ../sass/_contentStyle.scss */
#LWCP-ifr.w-bottom {
  bottom: 31px;
}

/* line 27, ../sass/_contentStyle.scss */
.LWCP-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 34px;
  background: #fff;
  z-index: 99999;
}
/* line 35, ../sass/_contentStyle.scss */
.LWCP-wrapper *, .LWCP-wrapper *::after, .LWCP-wrapper *::before {
  position: relative;
  box-sizing: border-box;
}
/* line 40, ../sass/_contentStyle.scss */
.LWCP-wrapper .readonly, .LWCP-wrapper .editable {
  display: inline-block;
  top: 50%;
  vertical-align: top;
  transform: translate(0, -50%);
}
/* line 47, ../sass/_contentStyle.scss */
.LWCP-wrapper .editable {
  display: none;
  line-height: 24px;
}
/* line 52, ../sass/_contentStyle.scss */
.LWCP-wrapper .img-wrp {
  display: inline-block;
  width: 60px;
  margin: 0 20px 0;
  top: 2px;
}
/* line 58, ../sass/_contentStyle.scss */
.LWCP-wrapper .img-wrp img {
  width: 100%;
  height: auto;
}
/* line 64, ../sass/_contentStyle.scss */
.LWCP-wrapper .trustworthy {
  display: inline-block;
  padding: 2px 8px;
  margin: 0 10px 0 0;
  font-size: 12px;
  font-family: sans-serif;
  vertical-align: top;
  color: #11324c;
  background-color: #7dc6ff;
}
/* line 77, ../sass/_contentStyle.scss */
.LWCP-wrapper .category {
  display: inline-block;
  padding: 2px 8px;
  margin: 0 10px 0 0;
  font-size: 12px;
  font-weight: 600;
  font-family: sans-serif;
  vertical-align: top;
}
/* line 89, ../sass/_contentStyle.scss */
.LWCP-wrapper .suggest {
  position: absolute;
  top: 3px;
  right: 10px;
  cursor: default;
}
/* line 95, ../sass/_contentStyle.scss */
.LWCP-wrapper .suggest .text {
  margin: 0 4px 0 0;
  font-size: 12px;
  font-family: sans-serif;
  cursor: pointer;
  color: #0066FF;
}
/* line 104, ../sass/_contentStyle.scss */
.LWCP-wrapper .suggest img {
  top: 5px;
  width: 18px;
  height: auto;
  cursor: pointer;
}
/* line 112, ../sass/_contentStyle.scss */
.LWCP-wrapper .category-select {
  padding: 1px 4px;
  min-width: 200px;
}
/* line 117, ../sass/_contentStyle.scss */
.LWCP-wrapper .category-select, .LWCP-wrapper .level-select {
  outline: none;
  padding: 1px 4px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: #eff7ff;
}
/* line 124, ../sass/_contentStyle.scss */
.LWCP-wrapper .category-select option, .LWCP-wrapper .level-select option {
  display: inline-block;
  padding: 20px;
}
/* line 129, ../sass/_contentStyle.scss */
.LWCP-wrapper .category-select {
  margin: 0 10px 0 0;
  min-width: 200px;
}
/* line 134, ../sass/_contentStyle.scss */
.LWCP-wrapper .level-select {
  margin: 0 10px 0 0;
  min-width: 80px;
}
/* line 138, ../sass/_contentStyle.scss */
.LWCP-wrapper .level-select ._1 {
  background: #45c5ff;
}
/* line 141, ../sass/_contentStyle.scss */
.LWCP-wrapper .level-select ._2 {
  background: #e3a7f5;
}
/* line 144, ../sass/_contentStyle.scss */
.LWCP-wrapper .level-select ._3 {
  background: #ffe79d;
}
/* line 147, ../sass/_contentStyle.scss */
.LWCP-wrapper .level-select ._4 {
  background: #ff9ebf;
}
/* line 152, ../sass/_contentStyle.scss */
.LWCP-wrapper .email {
  display: inline-block;
  width: 200px;
  margin: 0 10px 0 0;
  padding: 3px 4px;
  top: 2px;
  font-size: 12px;
  font-family: sans-serif;
  outline: none;
  border: 1px solid #ccc;
  letter-spacing: 0.2px;
  vertical-align: top;
}
/* line 168, ../sass/_contentStyle.scss */
.LWCP-wrapper .message {
  display: inline-block;
  margin: 0 10px 0 0;
  line-height: 12px;
}
/* line 173, ../sass/_contentStyle.scss */
.LWCP-wrapper .message::before {
  font-size: 12px;
  font-family: sans-serif;
}
/* line 179, ../sass/_contentStyle.scss */
.LWCP-wrapper .message.invaild::before {
  content: 'Invaild';
  color: red;
}
/* line 183, ../sass/_contentStyle.scss */
.LWCP-wrapper .message.success::before {
  content: 'Success';
  color: #00bf08;
}
/* line 187, ../sass/_contentStyle.scss */
.LWCP-wrapper .message.error::before {
  content: 'Error';
  color: red;
}
/* line 193, ../sass/_contentStyle.scss */
.LWCP-wrapper .btn-group {
  display: inline-block;
  top: -1px;
  cursor: default;
  vertical-align: top;
}
/* line 199, ../sass/_contentStyle.scss */
.LWCP-wrapper .btn-group .submit, .LWCP-wrapper .btn-group .close {
  padding: 4px 6px;
  font-size: 12px;
  font-family: sans-serif;
  outline: none;
  border: none;
  background: #2b97ec;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  text-shadow: 0 0 2px #000;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.63);
}
/* line 215, ../sass/_contentStyle.scss */
.LWCP-wrapper .btn-group .submit {
  margin: 0 4px 0 0;
}
/* line 217, ../sass/_contentStyle.scss */
.LWCP-wrapper .btn-group .submit:disabled {
  background-color: #bdbdbd;
  color: #989898;
  text-shadow: none;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.09);
}
